body {
  margin: 0;
  padding: 0;
}

pre {
  max-height: 400px;
  overflow: hidden;
  overflow-y: auto;
}

.alert {
  padding: 20px;
  background-color: #2196F3;
  color: white;
  margin-bottom: 15px;
}

.alert-close {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.alert-close:hover {
  color: black;
}
